@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(255, 255, 255);
}
h1,h2,h3,h4,h5,h6,span{
    font-family: 'IBM Plex Sans', sans-serif;
}
p ,ul, li{ 
    font-family: 'IBM Plex Mono', monospace;
}
a {
    text-decoration: none;
    color: inherit;
}
/* General clases*/
.title {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 36px;
    font-weight: 100;
}
.button{
    width: 100%;
    display: inline-block;
    margin: 30px 0px 10px;
    padding: 13px 96px;
    background-color: #00F3BB;
    font-family: 'IBM Plex Mono',monospace;
    font-size: 16px;
    font-weight: 600;
    color: #060A24;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
}
.button:hover{
    background: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
    color: white;
}
.paragraph {
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 22px;
    color: #060A24;
}
.logo-container{
    display: flex;
    width: 100%;
    background-color: white;
    justify-content: space-between;
    padding: 10px 16px;
    position: relative;
}
.logo-container img {
    height: 24px;
}
/*Hamburguer Menu*/
.burger-shower {
    display: none;
    position: absolute;
}
.hamburger {
    display: block;
    position: absolute;
    right: 16px;
    top: 21px;
    width: 18px;
    height: 2px;
    background-color: black;
}
.hamburger::before,
.hamburger::after {
    content: '';
    width: 18px;
    height: 2px;
    background-color: black;
    position: absolute;
    display: block;
    transition: all 0.6s ease;
}
.hamburger::before {
    top: -5px;
    right: 0px;
    transform-origin: left top;
    transform: rotateZ(0deg);
}
.hamburger::after {
    top: 5px;
    right: 0px;
    transform-origin: left bottom;
    transform: rotateZ(0deg);  
}
.burger-shower:checked ~ .hamburger::before {
    transform: rotate(45deg);
    width: 20px;
    top: -8px;
}
.burger-shower:checked ~ .hamburger::after {
    transform: rotate(-45deg);
    width: 20px;
    top: 5.5px;
}
.burger-shower:checked ~ .hamburger {
    background-color: white;
}
.burger-shower:checked ~ .navigation {
    margin-top: 0;
}
/*Nav Styles*/
.navigation {
    display: block;
    margin-top: -210px;
    align-items: center;
    flex: 2;
    transition: all 0.5s ease-in;
}
.navigation-list {
    width: 100%;
    background-color: #0000EC;
}
.navigation li {
    list-style: none;
    padding: 15px;
    font-size: 16px;
    color: white;
    text-transform: uppercase;
}
.navigation li:hover {
    color: #0000EC;
    background-color: white;
}
/*Header styles*/
.header-navigation {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.header-content {
    background-color: white;
    padding: 25px 16px;
}
.header-title{
    line-height: 42px;
    padding: 16px 50px 16px 0px;
}
.header-title > .blue-dot {
    text-decoration: none;
}
.header-title span {
    text-decoration: line-through;
}
.header-subtitle{
    margin: 20px 0px;
}
/* Episodes section */
.episodes-container {
    background:linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
    transform: skewY(-6deg);
    transform-origin: top right;
}
.episodes {
    transform: skewY(6deg);
    transform-origin: top left;    
    padding: 15px 15px 150px 15px;
}
.episodes-title {
    color: white;
}
.episodes-podcast {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 10px;
}
.podcast{
    width: 100%;
}
.podcast iframe {
    width: 100%;
    height: 232px;
    border-radius: 10px;
    border: 0;
}
/*Origin section*/
.origin-container{
    display: flex;
    flex-wrap: wrap;
    padding: 16px 16px 0px 16px;
    transform: translateY(-70px);
}
.origin-phone-image{
    width: 100%;
    position: relative;
}
.origin-phone-image img {
    width: 100%;
}
.origin-title{
    padding: 16px 100px 16px 0px;
}
.origin-text {
    margin-top: 10px;
}
/*Guest Section*/
.guests-container {
    display: flex;
    flex-wrap: wrap;
}
.guest-title {
    padding: 16px;
}
.guest-image-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.guest-image {
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
}
.guest-image img {
    width: 100%;
}
/*Theme Section*/
.theme-container {
    padding: 50px 15px;
    display: flex;
    flex-direction: column;
}
.theme-title {
    padding: 0 25px 0 0;
}
.theme-list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.themes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 250px;
    text-align: center;
    margin: 15px 0;
}
.themes span {
    font-size: 24px;
    font-weight: bolder;
    margin: 20px;
}
/*News Section*/
.news-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 341px;
    position: relative;
    text-align: center;
    background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
    -webkit-clip-path: polygon(0% 15%, 100% 0%, 100% 100%, 0% 100%);
            clip-path: polygon(0% 15%, 100% 0%, 100% 100%, 0% 100%);
    padding: 60px 16px;
}
.news-title {
    color: white;
}
.news-button {
    padding: 10px 0;
}
/*Footer Section*/
.footer {
    padding: 24px 30px;
    display: flex;
    z-index: 2;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.footer-title {
    font-size: 14px;
    font-family: 'IBM Plex Mono', monospace;
}
.icons-list {
    display: flex;
    justify-content: center;
    align-items: center;
}
.icons-list > li {
    list-style: none;
    margin: 15px 19px;
    transition: all 0.5s ease-in;
}
.icons-list >li:hover {
    transform: translateY(-10px);
}
/*Media Screens*/
@media screen and (min-width: 768px) {
    .logo-container img {
        height: 36px;
    }
    .hamburger {
        top: 26px;
    }
    .header-content {
        display: inline-flex;
        flex-direction: column;
        width: 700px;
        padding: 25px;
        margin-left: 5%;
    }
    .header-button.button {
        width: 225px;
        padding: 13px 0px;
    }
    .news-button.button {
        width: 345px;
        padding: 13px 50px;
    }
    .episodes .episodes-title {
        margin-left: 10%;
    }
    .podcast {
        width: 355px;
        padding: 10px 15px;
    }
    .origin-container {
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        padding: 16px;
        transform: translateY(0px);
    }
    .origin-phone-image {
        width: 50%;
        max-width: 455px;
        margin-right: 30px;
    }
    .origin-information {
        width: 50%;
        max-width: 460px;
        display:flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 30px;
    }
    .guest-image-container {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .guest-image {
        width: 50%;
    }
    .theme-title {
        padding-left: 25px;
    }
    
}
@media screen and (min-width: 1024px) {
    .title {
        font-size: 48px;
    }
    .paragraph {
        font-size: 16px;
    }
    .button {
        font-size: 18px;
    }
    .header-title {
        font-size: 64px;
        padding: 16px 0px;
    }
    .header-title > .blue-dot {
        text-decoration: none;
        color: #0000EC;
    }
    .header-navigation {
        flex-direction: row;
        padding: 0 7%;
    }
    .header-content {
        min-width: 740px;
        padding: 120px 0;
        margin-left: 14%;
        display: inline-block;
    }
    .logo-container {
        width: unset;
        align-items: center;
    }
    .hamburger {
        display: none;
    }
    .navigation {
        margin-top:0px;
    }
    .navigation-list {
        display: flex;
        justify-content:flex-end;
        background-color: white;
        margin-top: 0px;
    }
    .navigation li {
        color:#060A24;
        padding: 24px;
    }
    .navigation li:hover{
        color: #00F3BB;
        text-decoration: line-through;
    }
    .navigation li:active {
        color: rgba(6,10,36,0.56);
        text-decoration: line-through;
    }

    .podcast {
        max-width: 584px;
        width: 50%;
        padding: 10px 10px;
    }
    .episodes-podcast {
        justify-content: space-around;
        padding-bottom: 5%;
    }
    .origin-container {
        padding: 50px 16px ;
    }
    .guest-title {
        margin-left: 10%;
        padding-bottom: 2rem;
    }
    .guest-image {
        width: 33.33%;
    }
    .theme-title {
        padding-left: 150px;
        margin: 20px 0px;
    }
    .news-container {
        min-height: 400px;
    }
    .footer {
        padding: 25px 100px;
        flex-direction: row;
    }
    .news-container {
        min-height: 500px;
        background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
        -webkit-clip-path: polygon(0% 15%, 100% 0%, 100% 100%, 0% 100%);
            clip-path: polygon(0% 15%, 100% 0%, 100% 100%, 0% 100%);
    }
    .footer-title {
        font-size: 16px;
    }
    .icons-list li {
        font-size: 18px;
    }
}